<h1 class="articles-list__main-title">New articles on /r/all:</h1>

<div class="alert alert-danger alert-dismissible" ng-show="errorMessage" role="alert">{{ errorMessage }}</div>

<nav class="articles-list__pagination">
  <ul class="pager">
    <li class="next">
        <a href="#{{ linkNextPage() }}">Older &rarr;</a>
    </li>
    <li class="previous" ng-class="{disabled: list.articleBefore === null}">
        <a href="#{{ linkPrevPage() }}">&larr; Newer</a>
    </li>
  </ul>
</nav>

<article-list-item ng-repeat="item in list.all()"/>
