<div class="article-item clearfix">

    <img ng-src="{{ item.thumbnail }}" alt="" class="pull-left article-item__image" ng-if="item.thumbnail !== 'self' && item.thumbnail !== 'default' && item.thumbnail !== '' && item.thumbnail !== 'nsfw' "/>

    <a href="#{{ linkForArticle(item) }}">
        <h4 class="article-item__title">{{ item.title }}</h4>
    </a>

    <p class="article-item__subtitle">
        <article-subreddit article="item" class="article-item__subreddit"></article-subreddit>
        <article-date article="item" class="article-item__date"></article-date>
        <article-author article="item" class="article-item__author"></article-author>
    </p>
</div>
